@using System.Security.Principal

@if (User.Identity.IsAuthenticated) {
  <div class="jumbotron">
    <h1>Welcome @User.FindFirst("name").Value</h1>
    <p>Now that you have logged into this application, you can now create new customer tenants and manage user permissions.</p>
  </div>
}
else {
  <div class="jumbotron">

    <h1>Welcome to the App-Owns-Data Starter Kit</h1>

    <p>
      This application was created to demonstrate managing a multitenant environment with
      Power BI embedding. This application automates the provisioning of Power BI workspaces and allows an adminstrators
      to assign permissions to users .
    </p>

    <p>Click the <strong>sign in</strong> link in the upper right to get started.</p>

  </div>
}